html,
body,
#carousel,
#carousel .carousel-inner,
#carousel .carousel-inner .item {
  height: 100%;
  font-family: "ff-din-web", sans-serif;
}

body {
  padding: 20px;
}

#carousel {
  background-color: #222;
}

#carousel .carousel-inner .item {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact {
  position: absolute;
  right: 40px;
  bottom: 40px;
  padding: 0px 20px 20px;
  background-color: rgba(255,255,255,0.9);
  font-size: 0.8em;
}

#contact h1 {
  font-size: 1.2em;
}

